.view {
}

.container {
  padding: 8px 0 0 0;
}

.key {
  display: inline-block;
  border: 1px solid #555;
  background-color: lightblue;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.playing {
  background-color: orange;
}
